name: Build Docker image

on:
  pull_request:
    paths-ignore:
      - README.md
      - CONTRIBUTING.md
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker compose build bot
